   body{
      background-color:white;
      color: #5555555;

      font-family:cursive;
      font-size: 12px;
      font-weight: normal;
   }
h1{
   color: #5555555;

   font-family: 'Anton', sans-serif;
   font-size:219px;
   font-weight: normal;

}
h2{   color: #5555555;

   font-family: 'Roboto Mono', monospace;
   font-size:34px;
   font-weight: normal;}
